/* custom css */
.bg-header-top{
    background-color: #264653;
}
.btn-color {
    background-color: #e76f51;
    border: 1px solid transparent;
    padding: .380rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
   
    color: white;
}
.horizontal-line{
    width: 40px;
   margin: auto;
    color: #E76F51;
    border: 1px solid transparent;
}
.custom-color{
    color: #E76F51;
}
.gray-img{
    filter: grayscale(100%)
}
.fav-icon{
    color: #E77C40;
}
.show-rooms:hover h3{
    color:white;
}